properties:
  template:
    containers:
    - name: amazon-api-app
      image: imaginecupreg999.azurecr.io/supply-chain-api:v11
      resources:
        cpu: 1.0
        memory: 2Gi
      probes:
      - type: Startup
        httpGet:
          path: /api/health
          port: 8000
        initialDelaySeconds: 10
        periodSeconds: 10
        failureThreshold: 30
        timeoutSeconds: 5
      - type: Liveness
        httpGet:
          path: /api/health
          port: 8000
        periodSeconds: 30
        failureThreshold: 3
        timeoutSeconds: 5
      - type: Readiness
        httpGet:
          path: /api/health
          port: 8000
        periodSeconds: 10
        failureThreshold: 3
        timeoutSeconds: 5
